@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto");

html,
body {
  height: 100%;
  // font-family: "Permanent Marker", cursive;
}

body {
  //background-color: #3f3437;
  background-color: #111;
  color: #f8f9f9;
  // font-family: "Permanent Marker", cursive;
}

.App {
  text-align: center;
  // background-color: #3f3437;
  color: #f8f9f9;
  // font-family: "Permanent Marker", cursive;
  font-family: "Roboto";
}

.headline {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 2rem;
}

.big {
  font-size: 5rem;
}

h1 {
  font-size: 2rem;
}

.box {
  width: 500px;
  margin: 20vh auto;
  background-color: #4c3e41;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  section {
    display: inline-block;
  }
}
